<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}TagPostList{% endblock %}

{% load static %}

<!-- contents -->
{% block content %}
<section>
    <header class="major">
        <h4>hi🖐️, {{ user }} 😉</h4>
         <h1>Blog Tag Cloud</h1>

        <p>
        <tr>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'blog:add_category' %}">&nbsp;add_category &nbsp;</a></th>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'blog:post_list' %}">&nbsp;post_list &nbsp;</a></th>
        </tr>
        </p>
    </header>
    <hr style="margin: 0 20px 20px 0;">


         <h1>Posts for Tag - {{ tagname }}</h1>
         <br>

         {% for post in object_list %}

         <h2><a href="{{ post.get_absolute_url}}">{{post.title}}</a></h2>
          <br>
         {{post.modify_dt|date:'N d, Y'}}
         <p>{{post.description}}</p>

         {% endfor %}

      </div>
   </div>
</div>
{% endblock %}


{% block footer%}
<footer class="fixed-bottom bg-black">
    <div class="text-black font-italic text-right mr-5"> Copyright &copy; by Jerry</div>
</footer>
{% endblock %}