<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}Link Form{% endblock %}
{% load widget_tweaks %}
{% load static %}

<!-- contents -->
{% block content %}

<section>
    <header class="major">
        <h4>hi🖐️, {{ user }} 😉</h4>
        <h1>LinkMark Change!</h1>
        <p>
        <tr>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'linkList:add' %}">&nbsp;add &nbsp;</a></th>
            {% comment %} <th><i class="fa fa-edit"></i>&nbsp;&nbsp;<a href="{% url 'linkList:change' %}">&nbsp;change &nbsp;</a></th> {% endcomment %}
        </tr>
        </p>
    </header>

<hr style="margin: 0 0 20px 0;">

    <!-- form tag -->
    <section class="post">
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>TITLE(URL)</th>
                        <th>CONTENT</th>
                        <th>OWNER</th>
                        <th>UPDATE & DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    
                    <tr> 
                        <td><a href="{{ item.url }}">{{ item.title }}</td>
                        <td>{{ item.formatted_markdown|safe  }}</td>
                        <td>{{ item.owner }}</td>
                        <td><a href="{% url 'linkList:update' item.id %}">Update</a> / <a href="{% url 'linkList:delete' item.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br />
    </section>
 </section>
{% endblock %}