<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}delete Form{% endblock %}
{% load widget_tweaks %}
{% load static %}

<!-- contents -->
{% block content %}

<section>
    <header class="major">
        <h4>hi🖐️, {{ user }} 😉</h4>
        <h1>bookmark Delete</h1>
    </header>
    <section class="post">
        <!-- form tag -->
        <div class="five">
            <form method="post" action=".">
                {% csrf_token %}
                <h3> Are you <strong>sure</strong> you want to delete "{{ object }}"</h3>
                <input type="submit" value="Confirm" class="button primary fit small"/>
            </form>
            <br />
        </div>
    </section>
</div>
{% endblock %}