<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}Link List{% endblock %}

{% load static %}

<!-- style -->
{% block extra-style %}
<meta charset="utf-8" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/test.css' %}" />
<noscript>
    <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
</noscript>
<!-- ogtag -->
<!--<meta property="og:title" content="test"/>-->
<!--<meta property="og:type" content="article"/>-->
<!--<meta property="og:url" content="http://rootree.net"/>-->
<!--<meta property="og:description" content="This is a description."/>-->
<!--<meta property="og:image" content="http://img.jpg"/>-->
<!--<meta property="og:image:width" content="1200" />-->
<!--<meta property="og:image:height" content="627" />-->

{% endblock %}


<!-- contents -->
{% block content %}

<div id="main">
    <header class="major">
        <h1>Link List</h1>
    </header>

    <section class="posts">
        {% for Link in object_list %}
        <article>
            <header>
                <!--<span class="date">April 24, 2017</span>-->
                <!-- <h2><a href="{% url 'linkList:link_detail' Link.id %}">{{ Link.title }}</a></h2>-->
                <h2><a href="{% url 'linkList:link_detail' Link.id %}">{{ Link.title }}</a></h2>
            </header>
            <a href="{{ Link.url }}" class="image fit">
                <img src="{% static 'images/pic02.jpg' %}" alt="" />
            </a>
            <p>{{ Link.content }}</p>

                <!-- <a type="url" value="{{ Link.url }}" id="urlAddress" style="display:none;" onfocus="blur();" >{{ Link.url }}</a> -->
                

            <!--테스트 란 만들기-->
            <input id='test' value="{{ Link.url }}" placeholder="이곳에 ctrl+v로 붙여넣기 테스트" type="text">
            <br />
            <!--// 버튼 만들기-->
            <ul class="actions special">
                <!-- <li><button onclick="copyToClipboard('test')" > 링크 복사 </button></li> -->
                <li><button href="javascript:;" onclick="copyLink('{{Link.url}}')" > 링크 복사 </button></li>  
                <!-- <li><button href="clip()" onfocus="blur();" > 링크 복사 </button></li>     -->
                <li><a href="{{Link.url}}" class="button"> 링크로 이동 </a></li>
            </ul>
        </article>
        {% endfor %}
    </section>
    <br/>
</div>

{% endblock %}




