{% extends 'blog/base.html'%}

<!-- {% load static %} -->
{% load widget_tweaks %}
{% block title %} Login {% endblock %}

{% block content %}
<section>    
    <article class="special" style="width: auto;">
        <br />
        <header class="major">
            <h1> LOGIN </h1>
            <hr style="margin: 0 20px 20px 0;">

            {% if form.errors %}
            <p><strong> Errors &nbsp; </strong>: &nbsp; Your username and password didn't match. 
                <br><strong>Please, Try again.</strong></p>
            {% endif %}
        </header>

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                <br><strong>Please, login with an account that has access.</strong></p>
            {% else %}
            <h3>Please login to see this page.</h3>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class='register_form'>
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
            </div>
            {# Assumes you setup the password_reset view in your URLconf #}
            {#<h6><a href="{% url 'password_reset' %}">Lost password?</a></h6> #}
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </article>
    </section>
{% endblock %}