{% extends 'blog/base.html'%}

{% load static %}
{% load widget_tweaks %}
<!-- title -->
{% block title %} Password Change {% endblock %}

{% block content %}
<section>
    <article class="special" style="width: auto;">
        <br />
        <header class="major">
            <h1> PASSWORD CHANGE.</h1>
            <hr style="margin: 0 20px 20px 0;">
            {% if not form.errors %}
                <h4> Please enter your old password for security's sake, and then enter your new password twice. </h4>
            {% else %}
                <h4>Wrong! Please, correct the error(s) below. Please try again.</h4>
                <!-- err txt -->
                <div class="alert alert-danger five" role="alert" style="width: auto%;">
                    {% for field in form %}
                        {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <hr style="margin: 0 20px 20px 0;">
        </header>

        <!-- form tag -->
        <form method="post" action=".">
            {% csrf_token %}
            <div class='six'>
                <table>
                    <tr>
                        <td>{{ form.old_password.label_tag }}</td>
                        <td>{{ form.old_password }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password1.label_tag }}</td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.label_tag }}</td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                </table>
            </div>
            <hr style="margin: 0 20px 20px 0;">
            <input type="submit" value="password change" />
        </form>
    </article>
    <br />
</section>
{% endblock %}