{% extends 'blog/base.html'%}

<!-- {% load static %} -->
{% load widget_tweaks %}
{% block title %} Password Change Done {% endblock %}

{% block content %}
<section>  
    <article class="special" style="width: auto;">
        <br />
        <header class="major">
            <h1> {{ title }}</h1>
            <br />
            <ul class="icons">
                <!-- icon 참조 : https://fontawesome.com/ -->
                <li><a href="{% url 'home' %}" class="icon solid fas fa-home"><span class="label">Home</span></a></li>
                <li><a href="{% url 'login' %}" class="icon solid fa fa-user"><span class="label">Login</span></a></li>
            </ul>
            <h4> Your password was changed! </h4>
        </header>
    </article>
    <br />
</section>
{% endblock %}