<!-- extends from base.html -->
{% extends 'blog/base.html'%}


<!-- title -->
{% block title %}Album_list{% endblock %}
{% load static %}

<!-- contents -->
{% block content %}

<section id="two">
        <header class="major">
            <h1> ALBUm. </h1>
            <h4>Hi🖐️, {{ user }} 😉</h4>
            <p>Album LISt.</p>
            <p>
                <tr>
                    <th><i class="fa fa-edit"></i>&nbsp;&nbsp;<a href="{% url 'photo:album_change' %}">&nbsp;album_change
                            &nbsp;</a></th>
                    <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'photo:album_add' %}">&nbsp;album_add
                            &nbsp;</a></th>
                    <th><i class="fa fa-edit"></i>&nbsp;&nbsp;<a href="{% url 'photo:photo_change' %}">&nbsp;photo_change
                            &nbsp;</a></th>
                    <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'photo:photo_add' %}">&nbsp;photo_add
                            &nbsp;</a></th>
                </tr></p>
        </header>

        <hr style="margin: 0 0 20px 0;">

    <div class="box alt">

        {% for item in object_list%}
            <a href="{% url 'photo:album_detail' item.id %}"><h2>{{ item.name }}</h2></a>
            <hr style="margin: 0 0 20px 0;"><br/>

            <p>{{ item.description }}</p>
            <div class="row gtr-50 gtr-uniform">
                {% for photo in item.photo_set.all|slice:":5" %}
                    <div class="col-4 work-item">
                        <a href="{{ photo.get_absolute_url }}"><span class="image fit">
                            <img src="{{ photo.image.thumb_url }}" alt="" /></span>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <br/><br/>
        {% endfor %}    
        </div>
    <hr style="margin: 0 0 20px 0;">
</section>
{% endblock %}