<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}Album Form{% endblock %}
{% load widget_tweaks %}
{% load static %}

<!-- contents -->
{% block content %}

<div id="main">
    <header class="major">
        <h4>hi🖐️, {{ user }} 😉</h4>
        <h1>Album <br />
            Create & Update</h1>

        <ul class='nav justify-content-center' >
            <li class="nav-item"><h3><a href="{% url 'photo:album_list' %}"><i class="fa fa-home"></i>&nbsp;album_list &nbsp;</a></h3></li>
            <li class="nav-item"><h3><a href="{% url 'photo:album_change' %}"><i class="fas fa-edit"></i></i>&nbsp;album_change &nbsp;</a></h3></li>
        </ul>
        <!-- Errors -->
        {% if not form.errors %}
            <h3> This is a creation or update form for your bookmark. </h3>
        {% else %}
            <h4>Wrong! Please, correct the error(s) below. Please try again.</h4>
        <!-- err txt -->
            <div class="alert alert-danger five" role="alert" style="width: auto;">
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </header>

    <div class='post'>
            {% if formset.errors %}
            <div class="alert alert-danger five" role="alert" style="width:auto;">
                <h4>Wrong! Please, correct the error(s) below. Please try again.</h4>
                    {% for formerrors in formset.errors %}
                        {{ formerrors }}
                {% endfor %}
            </div>
            {% endif %}
        
        <!-- form tag -->
        {% if form.is_multipart or formset.is_multipart %}
        <form enctype="multipart/form-data" action="" method='post'>
            {% else %}
            <form action="." method='post'>
        {% endif %}
            {% csrf_token %}

            <!-- form -->
            <div class='six'>
                <table>
                    <tr>
                        <td>{{ form.name.label_tag }}</td>
                        <td>{{ form.name }} </td>
                    </tr>
                    <tr>
                        <td>{{ form.description.label_tag }}</td>
                        <td>{{ form.description }}</td>
                    </tr>
                </table>
                
                <fieldset>
                {{ formset.management_form}}
                    {% for form in formset %}
                        {{ form.id }}
                        <table>
                            <tr>
                                <td>{{ form.title.label_tag }}</td>
                                <td>{{ form.title }}</td>
                            </tr>    
                            <tr>
                                <td>{{ form.image.label_tag }}</td>
                                <td>{{ form.image }}</td>
                            </tr>  
                            <tr>
                                <td>{{ form.description.label_tag }}</td>
                                <td>{{ form.description }}</td>
                            </tr>
                        </table>
                    {% endfor%}
                </fieldset>
                <!-- input -->
                <input type="submit" value="submit" />
            </div>
        </form>
        <br />
    </div>
</div>
{% endblock %}