<!-- extends from base.html -->
{% extends 'blog/base.html'%}


<!-- title -->
{% block title %}Album_detail{% endblock %}
{% load static %}

<!-- contents -->
{% block content %}

<div id="main">

    <!-- Post -->
    <section class="post">
        <header class="major">
            <!-- <span class="date">{{ object.modify_dt|date:'j F Y' }}</span> // 오늘 날자 쓸수 있으면 좋겠다-->
            <h2> Album Detail </h2>
            <ul class='nav justify-content-center'  >
                <li class="nav-item"><h3><a href="{% url 'home' %}"><i class="fa fa-home"></i>&nbsp;Home &nbsp;</a></h3></li>
                <li class="nav-item"><h3><a href="{% url 'photo:photo_add' %}"><i class="fa fa-plus"></i>&nbsp;photo_add &nbsp;</a></h3></li>
                <li class="nav-item"><h3><a href="{% url 'photo:photo_change' %}"><i class="fas fa-edit"></i></i>&nbsp;photo_change &nbsp;</a></h3></li>
            </ul>
            <ul class='nav justify-content-center'  >
                <li class="nav-item"><h3><a href="{% url 'photo:album_list' %}"><i class="fa fa-home"></i>&nbsp;album_list &nbsp;</a></h3></li>
                <li class="nav-item"><h3><a href="{% url 'photo:album_change' %}"><i class="fas fa-edit"></i></i>&nbsp;album_change &nbsp;</a></h3></li>
            </ul>
        </header>
        <div class="mt-5">
            <span class="h2">{{ object.name }}</span>&emsp;
            <span class="h5">{{ object.description }}</span>
        </div>

        <hr style="margin: 0 0 20px 0;">

        <div class="row">
            {% for photo in object.photo_set.all %}
            <div class=" col-md-3 mb-5">
                <div class="thumbnail">
                    <a href=" {{ photo.get_absolute_url }}">
                        <img src="{{ photo.image.thumb_url }}" style="width:100%;">
                    </a>
                </div>
                <ul>
                    <li>Title : {{ photo.title }}</li>
                    <li>Date : {{ photo.upload_dt|date:"Y-m-d" }}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}