<!-- extends from base.html -->
{% extends 'blog/base.html'%}


<!-- title -->
{% block title %}Album_list{% endblock %}
{% load static %}

<!-- contents -->
{% block content %}

<div id="main">

    <!-- Post -->
    <section class="post">
        <header class="major">
            <!-- <span class="date">{{ object.modify_dt|date:'j F Y' }}</span> // 오늘 날자 쓸수 있으면 좋겠다-->
            <h2> POST LIST </h2>
        </header>

        {% for item in object_list%}
        <div class="mt-5">
            <a class="h2" href="{% url 'photo:album_detail' item.id %}">
                {{item.name}}</a>&emsp;
            <span class="h5">{{ item.description }}</span>
        </div>

        <div class="row">
            {% for photo in item.photo_set.all|slice:":5" %}
            <div class="ml-5">
                <div class="thumbnail">
                    <a href=" {{photo.get_absolute_url }}">
                        <img src="{{ photo.image.thumb_url }}">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
</div>

{% endblock %}