<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}photo Form{% endblock %}
{% load widget_tweaks %}
{% load static %}

<!-- contents -->
{% block content %}

<div id="main">
    <header class="major">
        <h4>hi🖐️, {{ user }} 😉</h4>
        <h1>album Change!</h1>
        <ul class='nav justify-content-center' >
            <li class="nav-item"><h3><a href="{% url 'photo:album_list' %}"><i class="fa fa-home"></i>&nbsp;album_list &nbsp;</a></h3></li>
            <li class="nav-item"><h3><a href="{% url 'photo:album_add' %}"><i class="fas fa-edit"></i></i>&nbsp;album_change &nbsp;</a></h3></li>
            <li class="nav-item"><h3><a href="{% url 'photo:photo_add' %}"><i class="fa fa-plus"></i>&nbsp;photo_add &nbsp;</a></h3></li>
        </ul>
    </header>

    <!-- form tag -->
    <section class="post">
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>DESCRIPTION</th>
                        <th>OWNER</th>
                        <th>UPDATE</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.owner }}</td>
                        <td><a href="{% url 'photo:album_update' item.id %}">Update</a></td>
                        <td><a href="{% url 'photo:album_delete' item.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br />
    </section>
</div>
{% endblock %}