<!-- extends from base.html -->
{% extends 'blog/base.html'%}


<!-- title// Album Detail -->
{% block title %}AlbumD.{% endblock %}
{% load static %}

<!-- contents -->
{% block content %}

<section>
    <div class="content">
        <header class="major">
            <h4>Hi🖐️, {{ user }} 😉</h4>
            <h1>This is Album Detail Plz Enjoy.</h1>
            <p><tr>
                <th><i class="fa fa-edit"></i>&nbsp;&nbsp;<a href="{% url 'photo:album_change' %}">&nbsp;album_change
                        &nbsp;</a></th>
                <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'photo:album_add' %}">&nbsp;album_add
                        &nbsp;</a></th>
                <th><i class="fa fa-edit"></i>&nbsp;&nbsp;<a href="{% url 'photo:photo_change' %}">&nbsp;photo_change
                        &nbsp;</a></th>
                <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'photo:photo_add' %}">&nbsp;photo_add
                        &nbsp;</a></th>
            </tr></p>
        </header>
    </div>
</section>



<section id="two">
    <h2>{{ object.name }}</h2>
    <div class="box alt">
        {% comment %} <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3> {% endcomment %}
        <div class="row gtr-50 gtr-uniform">
           
        {% for photo in object.photo_set.all %}
            <div class="col-3 work-item">
            <h2>🌏 {{ photo.title }} 🌏</h2>
            <p>Date__{{ photo.upload_dt|date:"Y.m.d" }}</p>
            <br/>
        <a href=" {{ photo.get_absolute_url }}"><span class="image fit">
                <img src="{{ photo.image.thumb_url }}" alt=""></span>
        </a>
        <p>{{ object.description }} </p><br/>
        <p>Demo Images:<a href="https://unsplash.com">Unsplash</a>.</p>
        
        </div>
        <hr style="margin: 0 0 20px 0;">
        {% endfor %}
            
        </div>
    </div>
    <hr style="margin: 0 0 20px 0;">
</section>



{% comment %} </div>

<div class="mt-5">
    <span class="h2">{{ object.name }}</span>&emsp;
    <span class="h5">{{ object.description }}</span>
</div>

<hr style="margin: 0 0 20px 0;">

<div class="row">
    {% for photo in object.photo_set.all %}
    <div class=" col-md-3 mb-5">
        <div class="thumbnail">
            <a href=" {{ photo.get_absolute_url }}">
                <img src="{{ photo.image.thumb_url }}" style="width:100%;">
            </a>
        </div>
        <ul>
            <li>Title : {{ photo.title }}</li>
            <li>Date : {{ photo.upload_dt|date:"Y-m-d" }}</li>
        </ul>
    </div>
    {% endfor %}
</div>
</section>
</div> {% endcomment %}

{% endblock %}