<!-- extends from base.html -->
{% extends 'blog/base.html'%}


<!-- title -->
{% block title %}Photo_detail{% endblock %}
{% load static %}

<!-- contents -->
{% block content %}

<div id="main">

    <!-- Post -->
    <section class="post">
        <header class="major">
            <!-- <span class="date">{{ object.modify_dt|date:'j F Y' }}</span> // 오늘 날자 쓸수 있으면 좋겠다-->
            <h2 class="mt-5"> Photo Detail </h2>
            <ul class='nav justify-content-center'  >
                <li class="nav-item"><h3><a href="{% url 'home' %}"><i class="fa fa-home"></i>&nbsp;Home &nbsp;</a></h3></li>
                <li class="nav-item"><h3><a href="{% url 'photo:photo_add' %}"><i class="fa fa-plus"></i>&nbsp;photo_add &nbsp;</a></h3></li>
                <li class="nav-item"><h3><a href="{% url 'photo:photo_change' %}"><i class="fas fa-edit"></i></i>&nbsp;photo_change &nbsp;</a></h3></li>
            </ul>
            <div class="h3">
                Album__<h3><a href="{% url 'photo:album_detail' object.album.id %}">{{ object.album.name }}</a></h3>
            </div>
        </header>

        <h2 class="mt-5"> {{ object.title }}</h2>
 
        <!--  -->
        <hr class="mt-3" style="margin: 0 0 20px 0;">

        <div class="wrapper">
            <div>
                <a href="{{ object.image.url }}">
                    <img class="three" src="{{ object.image.url }}" style=" height: 250px; width: 300px;">
                </a>
            </div>

            <ul class="two">
                <li class="h4">Photo Description.</li>
                {% if object.description %}
                    <p>{{ object.description|linebreaks }}</p>
                {% else %}
                    <p>(blank)</p>
                {% endif %}
                
                <li class="h4">Date Uploaded.</li>
                <p class="font-italic">{{ object.upload_dt }}</p>
            </ul>
        </div>
    </section>
</div>

{% endblock %}