<!-- extends from base.html -->
{% extends 'blog/base.html'%}


<!-- title -->
{% block title %}Photo_detail{% endblock %}
{% load static %}

<!-- contents -->
{% block content %}

<div id="main">

    <!-- Post -->
    <section class="post">
        <header class="major">
            <!-- <span class="date">{{ object.modify_dt|date:'j F Y' }}</span> // 오늘 날자 쓸수 있으면 좋겠다-->
            <h2 class="mt-5"> Photo Detail </h2>
        </header>
        <!-- <div class="mt-5">
            <span class="h2">{{ object.title }}</span>
        </div> -->

        <h2 class="font-italic mt-5"> 바로: {{ object.title }}</h2>
        <!--  -->
<hr class="mt-3" style="margin: 0 0 20px 0;">

        <div class="row">
            <div class="col-md-5">
                <a class="ml-5" href="{{ object.image.url }}">
                    <img src="{{ object.image.url }}" style="width: 100%;">
                </a>
            </div>

            <ul class="col-md-3 mt-3">
                <li class="h5">Photo Description</li>
                {% if object.description %}
                    <p>{{ object.description|linebreaks }}</p>
                {% else %} 
                    <p>(blank)</p>
                {% endif %}
                <li class="h5">Date Uploaded</li>
                <p class="font-italic">{{ object.upload_dt }}</p>

                <li class="h5">Album Name</li>
                <p class=""><a href="{% url 'photo:album_detail' object.album.id %}"> {{ object.album.name }}</a>
                </p>
            </ul>
        </div>
    </section>
</div>

{% endblock %}