<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}categories{% endblock %}
{% load widget_tweaks %}
{% load static %}

<!-- contents -->
{% block content %}

<section>
    <header class="major">
        <h4>hi🖐️, {{ user }} 😉</h4>
        <h1>{{ cats }}</h1>
        <p>
        <tr>
            <th><i class="fa fa-landmark"></i>&nbsp;&nbsp;<a href="{% url 'blog:post_archive' %}">&nbsp;archive &nbsp;</a></th>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'blog:change' %}">&nbsp;change &nbsp;</a></th>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'blog:add_category' %}">&nbsp;add_category &nbsp;</a></th>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'blog:post_list' %}">&nbsp;post_list &nbsp;</a></th>
        </tr>
        </p>
    </header>
    
<hr style="margin: 0 20px 20px 0;">

    <section class="post">
        <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>User</th>
                                <th>Category</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% comment %} {% get_tagcloud as tags %} {% endcomment %}
                            {% for post in category_posts %}
                            
                            <tr>
                                <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                                <td>{{ post.owner }}</td>
                                <td>{{ post.category }}</td>
                                <td>{{ post.modify_dt|date:'N d, Y' }}</td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
    </section>
    <br/>
</section>

{% endblock %}




