<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}categories{% endblock %}
{% load widget_tweaks %}
{% load static %}

<!-- contents -->
{% block content %}

<div id="main">
    <header class="major">
        <h1>{{ cats }}</h1>
        <ul class='nav justify-content-center' >
            <li class="nav-item"><h3><a href="{% url 'blog:post_list' %}"><i class="fas fa-landmark"></i></i>&nbsp;post_list &nbsp;</a></h3></li>
            <li class="nav-item"><h3><a href="{% url 'blog:add_category' %}"><i class="fa fa-plus"></i>&nbsp;add_category &nbsp;</a></h3></li>
            <li class="nav-item"><h3><a href="{% url 'blog:change' %}"><i class="fas fa-edit"></i>&nbsp;change &nbsp;</a></h3></li>
        </ul>
    </header>

    <section class="post">
    <div class='six'>
        <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>User</th>
                                <th>Category</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% comment %} {% get_tagcloud as tags %} {% endcomment %}
                            {% for post in category_posts %}
                            
                            <tr>
                                <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                                <td>{{ post.owner }}</td>
                                <td>{{ post.category }}</td>
                                <td>{{ post.modify_dt|date:'N d, Y' }}</td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
    </section>
    <br/>
</div>

{% endblock %}




