<!DOCTYPE html>
<html lang="en">
<!-- head  -->
{% include '../main/blog_head.html' %}

<body>
	<!-- nav -->
	{% include '../main/nav.html' %}


	<div class="hero-wrap"
		style="background-image: url(&quot;../static/images/bg_1.jpg&quot;); background-position: 50% 0%;"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center">
				<div class="col-md-6 ftco-animate d-flex align-items-end fadeInUp ftco-animated">
					<div class="text w-100">
						<h1 class="mb-4">test</h1>
						<p class="mb-4">Test</p>
						<!-- <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a> <a href="#"
								class="btn btn-white py-3 px-4">Read more</a></p> -->
					</div>
				</div>
				<!-- <a href="https://vimeo.com/45830194"
					class="img-video popup-vimeo d-flex align-items-center justify-content-center">
					<span class="fa fa-play"></span>
				</a> -->
			</div>
		</div>
	</div>



	<!-- loader -->
	{% include '../main/loader.html' %}

	<!-- footer -->
	{% include '../main/footer.html' %}

</body>

</html>