<!-- /blog/archive/URL요청에 대해 리스트를 날자별로 구분해서 보여줌 -->
<!-- 디장고 존나 예민하네 띄워쓰기로 이렇게 에러난다고? 파이참으로 하면 달라질라나? -->

<!-- extends from base.html -->
{% extends 'blog/base.html'%}

{% load static %}
<!-- title -->
{% block title %}Post Archive Month{% endblock %}


{% block content %}

<section>
    <header class="major">
        <h4>Hi🖐️, {{ user }} 😉</h4>
        <h2> Post Archives for {{ month|date:'N  Y' }}</h2>
        <hr style="margin: 0 20px 20px 0;">

        <p>
        <tr>
            <th><i class="fa fa-landmark"></i>&nbsp;&nbsp;<a href="{% url 'blog:post_list' %}">&nbsp;post_list &nbsp;</a></th>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'blog:add' %}">&nbsp;Add &nbsp;</a></th>
        </tr>
        </p>
    </header>
        
<br><br>

    <section>
        <div class="content">
            {% for post in object_list %}
            
                <h3>😉 {{ post.modify_dt|date:"Y-m-d" }}&nbsp;&nbsp;</h3>
                <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a><br>
                <br>
                <hr style="margin: 0 20px 20px 0;">
                <br>
            {% endfor %}
        </div>
    </section>
</section>

{% endblock %}
