<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}aboutme{% endblock %}
<!-- style -->
{% load static %}

<!-- contents -->
{% block content %}

<!-- 원본 -->
<div id="main">
    <div class="container-center">

        <h1 class="my-4">테스트 </h1>
        <hr />

        <div class="wrapper">
            <div class="three">
                <img src="http://placehold.it/500x600" alt="" style="width: 100%; height: auto;">
            </div>

            <div class="two">
                <h3 class="my-3">Project Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                    Mauris ultricies, justo eu convallis placerat, felis enim.</p>

                <h3 class="my-3">Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <div>
            <h3>Skill</h3>
            <p>
                아이콘 배열 
            </p>
        </div>

        <!-- Related Projects Row -->
        <div>
            <h3 class="my-4">Team Projects</h3>

            <div class="card" style="width: 20rem;">
                <img src="http://placehold.it/500x600" alt="" style="width: 100%; height: auto;" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="button primary fit">Fit</a>
                </div>
            </div>
        </div>
        <hr />
        <h3 class="my-4">solo Projects</h3>
        <div class="card" style="width: 20rem;">
            <img src="http://placehold.it/500x600" alt="" style="width: 100%; height: auto;" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="button primary fit">Fit</a>
            </div>
        </div>
    </div>
    <br/>
</div>

{% endblock %}


