<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}Post Detail{% endblock %}

{% load static %}

<!-- contents -->
{% block content %}


<div id="main">

    <!-- Post -->
    <section class="post">
        <header class="major">
            <h2>{{ object.title }}</h2>
            <!-- 다음글 -->

            <div class="image main"><img src="{% static 'images/pic01.jpg' %}" alt="" /></div>
            <p>{{ object.content|linebreaks }}</p>
        </header>
    </section>

</div>

{% endblock %}
