<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}Post Detail{% endblock %}

{% load static %}

<!-- contents -->
{% block content %}


<div id="main">

    <!-- Post -->
    <section class="post">
        <header class="major">
            <span class="date">{{ object.modify_dt|date:'j F Y' }}</span>
            <h2>{{ object.title }}</h2>
                    <!-- 다음글 -->
        <div>
            {% if object.get_next %}
            <a href=" {{object.get_next.get_absolute_url }}" title="View previous post">
                <i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;{{ object.get_next }}
            </a>
            {% endif %}

            &nbsp;

            {% if object.get_previous %}
            | &nbsp; <a href=" {{ object.get_previous.get_absolute_url }}" title="View next post">
                {{object.get_previous }}&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i></a>
            {% endif %}
            </div>
        </header>


        <div class="image main"><img src="{% static 'images/pic01.jpg' %}" alt="" /></div>
        <p>{{ object.content|linebreaks }}</p>



        <!-- Tag system -->
        <div>
            <b>TAGS</b> <i class="fas fa-tag"></i>
            {% load taggit_templatetags2_tags %}
            {% get_tags_for_object object as "tags"%}
            {% for tag in tags %}
            <a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}</a>
            {% endfor %}
            &emsp;
            <a href="{% url 'blog:tag_cloud' %}"><span class="btn btn-success btn-sm">TagCloud</span></a>
        </div>
    </section>

    <br>

    <!-- Comment -->
    {% load disqus_tags %}
    <div id="disqus_thread">
        {% disqus_show_comments %}
    </div>
</div>

{% endblock %}



{% block extra-script %}

<script>

    var disqus_config = function () {
        this.page.identifier = '{{ disqus_id }}';
        this.page.url = '{{ disqus_url }}';
        this.page.title = '{{ disqus_title }}';
    };


    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ disqus_short }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>

{% endblock %}