<!-- /blog/archive/URL요청에 대해 리스트를 날자별로 구분해서 보여줌 -->
<!-- 디장고 존나 예민하네 띄워쓰기로 이렇게 에러난다고? 파이참으로 하면 달라질라나? -->


<!-- extends from base.html -->
{% extends 'blog/base.html'%}

{% load static %}

<!-- title -->
{% block title %}Blog{% endblock %}

<!-- contents -->
{% block content %}


<section>
    <header class="major">

    <!-- Post -->
        <header class="major">
            <!-- <span class="date">{{ object.modify_dt|date:'j F Y' }}</span> // 오늘 날자 쓸수 있으면 좋겠다-->
            <h2> Post Archives until {% now "N d, Y" %} </h2>
                    
        <div class="action">
            {% for date in date_list %}
            <a href="{% url 'blog:post_year_archive' date|date:'Y' %}"
               class="btn btn-outline-success btn-sm mx-1">Year - {{ date|date:'Y' }}</a>&nbsp;&nbsp;&nbsp;
           {% endfor %}
        </div>
        </header>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Description</th>

                    </tr>
                </thead>
                <tbody>
                    {% for post in object_list %}
                    <tr>
                        <td>{{ post.modify_dt|date:"Y-m-d" }}</td>
                        <td><a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a></td>
                        <td>{{ post.description }}</td>

                        {% endfor %}
                    </tr>

                </tbody>
            </table>
        </div>

    </section>
    <!-- <footer>
        <div class="pagination">
            <a href="#" class="previous">Prev</a>
            <a href="#" class="page active">1</a>
            <a href="#" class="page">2</a>
            <a href="#" class="page">3</a>
            <span class="extra">&hellip;</span>
            <a href="#" class="page">8</a>
            <a href="#" class="page">9</a>
            <a href="#" class="page">10</a>
            <a href="#" class="next">Next</a>
        </div>
    </footer>  -->
</section>



{% endblock %}

<!-- 요일 포함 -->
<!-- <h1>Post Archives until {% now "D d M Y" %}</h1>
<ul>
    {% for date in date_list %}
    <li style="display: inline;">
        <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">Year - {{ date|date:'Y' }}</a>
    </li>
    &nbsp;&nbsp;
    {% endfor %}
</ul>
<br/>
<div>
    <ul>
        {% for post in object_list %}
        <li>
            {{ post.modify_dt|date:'Y-m-d' }}&nbsp;&nbsp;
            <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
        </li>
        {% endfor %}
    </ul>
</div> -->

