<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}Post Detail{% endblock %}

{% load static %}

<!-- contents -->
{% block content %}


    <header class="major">
        <h4>hi🖐️, {{ user }} 😉</h4>
        <h1>Post Delete</h1>
        <hr style="margin: 0 20px 20px 0;">
        {% if user.is_authenticated %}
        <h5><a href="{% url 'blog:delete' object.id %}">Delete</a>| <a
                href="{% url 'blog:update' object.id %}">Update</a></h5>
        {% endif %}
        <p>
            <tr>
                <th><i class="fa fa-landmark"></i>&nbsp;&nbsp;<a href="{% url 'blog:post_list' %}">&nbsp;List
                        &nbsp;</a></th>
                <th><i class="fa fa-edit"></i>&nbsp;&nbsp;<a href="{% url 'blog:add' %}">&nbsp;Add
                        &nbsp;</a></th>
            </tr>
        </p>
       <hr style="margin: 0 20px 20px 0;">
    </header>

    <section>
        <div class="post">
            
            <!-- 다음글 -->
            <a href="{% url 'blog:category' post.category %}">
                <h4># {{ object.category }}</h4>
            </a>
            <span class="date">{{ object.modify_dt|date:'j F Y' }}</span>
            <h1>{{ object.title }}</h1>

            <span class="image main"><img src="{{ img_posts.image.url }}" alt="" /></span>
            {% comment %} <p>{{ object.content|linebreaks }}</p> {% endcomment %}
            <p>{{ object.formatted_markdown|safe }}</p>
            
            <!-- Post -->
            <div class="content">
                {% if object.get_next %}
                <a href=" {{object.get_next.get_absolute_url }}" title="View previous post">
                    <i class="fas fa-angle-double-left"></i>
                    &nbsp;&nbsp;{{ object.get_next }}</a>
                {% endif %}

                &nbsp;

                {% if object.get_previous %}
                | &nbsp; <a href=" {{ object.get_previous.get_absolute_url }}" title="View next post">
                    {{object.get_previous }}&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i></a>
                {% endif %}
            </div>
            <br>
            <hr style="margin: 0 20px 20px 0;">
    
            <!-- Tag system -->
            <div>
                <b>TAGS</b> <i class="fas fa-tag"></i>
                {% load taggit_templatetags2_tags %}
                {% get_tags_for_object object as "tags"%}
                {% for tag in tags %}
                <a href="{% url 'blog:tagged_object_list' tag.name %}"> # {{tag.name}} </a>
                {% endfor %}
                &emsp;
                <a href="{% url 'blog:tag_cloud' %}"><span class="btn btn-success btn-sm">TagCloud</span></a>
            </div>
        </div>
    </section>

    <br>

    <!-- Comment -->
    {% load disqus_tags %}
    <div id="disqus_thread">
        {% disqus_show_comments %}
    </div>

    <hr class="major" />
</section>
{% endblock %}



{% block extra-script %}
<script>

    var disqus_config = function () {
        this.page.identifier = '{{ disqus_id }}';
        this.page.url = '{{ disqus_url }}';
        this.page.title = '{{ disqus_title }}';
    };


    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ disqus_short }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>

{% endblock %}