<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %}aboutme{% endblock %}
<!-- style -->
{% load static %}

<!-- contents -->
{% block content %}

<!-- 원본 -->
<div id="main">
    <div class="container">

        <h1 class="my-4">테스트 </h1>
        <hr />

        <div class="wrapper">
            <div class="three">
                <img src="http://placehold.it/450x600" alt="">
            </div>

            <div class="two">
                <h3 class="my-3">Project Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                    Mauris ultricies, justo eu convallis placerat, felis enim.</p>

                <h3 class="my-3">Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">Related Projects</h3>
    </div>

    <hr />
</div>

{% endblock %}