<!-- /blog/archive/URL요청에 대해 리스트를 날자별로 구분해서 보여줌 -->
<!-- 디장고 존나 예민하네 띄워쓰기로 이렇게 에러난다고? 파이참으로 하면 달라질라나? -->

<!-- extends from base.html -->
{% extends 'blog/base.html'%}

{% load static %}
<!-- title -->
{% block title %}Post Archive Year{% endblock %}

<!-- contents -->
{% block content %}


<section>
    <!-- Post -->
    <section class="post">
        <header class="major">
            <h4>Hi🖐️, {{ user }} 😉</h4>
            <!-- <span class="date">{{ object.modify_dt|date:'j F Y' }}</span> // 오늘 날자 쓸수 있으면 좋겠다-->
            <h2> Post Archives for {{ year|date:'Y' }} -
                {% for date in date_list %}
                <a href="{% url 'blog:post_month_archive' year|date:'Y' date|date:'b' %}"
                    class="btn btn-outline-success btn-sm mx-1">{{date|date:'F'}}</a>&nbsp;&nbsp;&nbsp;
                {% endfor %}
            </h2>
        </header>
        <br>
        <hr style="margin: 0 20px 20px 0;">

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>

                        <th>Date</th>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in object_list %}
                    <tr>
                        <td>{{ post.modify_dt|date:"Y-m-d" }}</td>
                        <td><a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a></td>
                        <td>{{ post.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr style="margin: 0 20px 20px 0;">
    </section>
</section>

{% endblock %}