<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title : Post_all -->
{% block title %} POSTs.{% endblock %}
{% load static %}
<!-- contents -->
{% block content %}

<section>
    <header class="major">
            <h1> POSTs. </h1>
            {% comment %} <span class="image fit"><img
                    src="https://64.media.tumblr.com/5da981651a7128b32171f2b6a3efcb14/tumblr_p32oen6pot1sfyngeo4_1280.jpg"
                    alt=""></span> {% endcomment %}
            <p>리스트 </p>
            <p>
        <tr>
            <th><i class="fa fa-landmark"></i>&nbsp;&nbsp;<a href="{% url 'blog:post_archive' %}">&nbsp;Archive &nbsp;</a></th>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'blog:add' %}">&nbsp;Add &nbsp;</a></th>
            <th><i class="fa fa-edit"></i>&nbsp;&nbsp;<a href="{% url 'blog:change' %}">&nbsp;Change &nbsp;</a></th>
        </tr></p>
        <p>메모 : 여기에 작성자면 삭제하게 만들기 -> 그러면 페이지 수 줄 일수 있음</p>
        </header>
    <section>
        <div class="content">
            {% comment %} 내용 {% endcomment %}
            {% for post in posts %}
            <article class="col-6 col-12-xsmall work-item">
             {% comment %} <a href="{% load static %}" class="image fit thumb"><img src="#" alt="" /></a> {% endcomment %}
                <div>
                <br style="margin: 0 0 1px 0;">
                <a href="{{ post.category }}" ><p><strong> # &nbsp;{{ post.category }}</strong></p></a>
                <br>
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    {% comment %} <h3>- {{ post.category }} </h3>
                    <h4> - {{ post.owner }} </h4> {% endcomment %}
                    <br>
                    <p>{{ post.description }} </p>
                    <h5>{{ post.modify_dt|date:'N d, Y' }}</h5>
                </div>
            </article>
            <hr style="margin: 0 0 7px 0;">
            {% endfor %}
        </div>
    </section>
</section>

<br style="margin: 0 20px 20px 0;">

{% comment %} <section>
    <header>
        <h1>테스트3</h1>
    </header>
    <div class="content">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>User</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <ul class="alt">
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> - {{ post.owner }} - {{
                            post.category }} - {{ post.description }}-{{ post.modify_dt|date:'N d, Y' }}
                        </li>
                    </ul>

                    <tr>
                        <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                        <td>{{ post.owner }}</td>
                        <td>{{ post.category }}</td>
                        <td>{{ post.description }}</td>
                        <td>{{ post.modify_dt|date:'N d, Y' }}</td>
                        {% endfor %}
                        <br />
                        <h2>3번</h2>
                    </tr>
                </tbody>
            </table>
        </div>
</section> {% endcomment %}

<!-- pagination // 가운데로!  -->
<ul class="pagination">
    <!-- Prev page setting -->
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="button">Prev</span></li>
    {% endif %}

    <!--  main : page pagination   -->
    {% for page_number in page_obj.paginator.page_range %}
    <!-- pagination lv control  -->
    {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %} <!-- page number match-->
        {% if page_number == page_obj.number %}
        <li><a class="page active" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% else %}
        <li><a class="page" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}

        <!-- next page setting -->
        {% if page_obj.has_next %}
        <!-- 마지막 page -->
        <!-- <a href="?page={{ page_obj.paginator.num_pages }}" class="page">{{ page_obj.paginator.num_pages }}</a> -->
        <!-- 바로 다음 page -->
        <li><a href="?page={{ page_obj.next_page_number }}" class="button">Next</a></li>
        {% endif %}
</ul>

{% endblock %}