<!-- extends from base.html -->
{% extends 'blog/base.html'%}

<!-- title -->
{% block title %} Change Post  {% endblock %}
{% load widget_tweaks %}
{% load static %}

<!-- contents -->
{% block content %}
<section>
    <header class="major">
        <h4>Hi🖐️, {{ user }} 😉</h4>
        <h1>Bolg Change!</h1>
        <p>
        <tr>
            <th><i class="fa fa-landmark"></i>&nbsp;&nbsp;<a href="{% url 'blog:post_list' %}">&nbsp;archive &nbsp;</a></th>
            <th><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{% url 'blog:add' %}">&nbsp;add &nbsp;</a></th>
        </tr>
        </p>
    </header>

<hr style="margin: 0 20px 20px 0;">

    <!-- form tag -->
    <section class="post">
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>Discription</th>
                        <th>Category</th>
                        <th>Update &nbsp; / &nbsp; Delete</th>
                        {% comment %} <th>DELETE</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    <tr>
                        <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
                        <td>{{ item.owner }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.category }}</td>
                        <td><a href="{% url 'blog:update' item.id %}">Update</a> &nbsp; / &nbsp;<a href="{% url 'blog:delete' item.id %}">Delete</a></td>
                        {% comment %} <td><a href="{% url 'blog:delete' item.id %}">Delete</a></td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>

<hr style="margin: 0 20px 20px 0;">
{% endblock %}


{% block footer%}
<!-- Copyright -->
<div id="copyright">
    <ul>
        <li>&copy; Untitled</li>
        <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
    </ul>
</div>
{% endblock %}