
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <!-- <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" > -->
    <link rel="stylesheet" sype="text/css" href = "../../static/css/bootstrap.min.css">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/800px-Apple_logo_black.svg.png"> -->

    <!-- Bootstrap CSS -->


    <script src='https://d3js.org/d3.v3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    
    <title>테스트</title>
    <style>  
        @import url(cssfile.css) screen and (min-width: 152px) and (max-width: 1024px);
    
    </style>  
</head>
